html{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-image: linear-gradient(rgb(47, 133, 203),rgb(140, 173, 198));
}
body{
    margin:0;
    height:100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image:linear-gradient(to right, rgb(193, 157, 225),rgb(179, 94, 253));
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.34);
    height:80px;
}
h2, h3{
    font-weight: 300;
}
.nav-img{
    width:50px;
    object-fit: cover;
    margin-right:10px;
}
.nav-div-one{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.nav-div-two{
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    width:200px;
    border-left: 1px solid rgba(128, 128, 128, 0.329);
}
.text-div{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}
input{
    height:30px;
    width: 200px;
    font-size:25px;
}
.button-div{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.man-img{
    width:30px;
    padding-left: 10px;
}
button{
    background-image:linear-gradient(to left, rgb(193, 157, 225),rgb(176, 88, 252));
    color:black;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    font-size: 20px;
    width: 445px;
    transition:.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.21);
}
button:hover{
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.548);
}
.custom-container{
    display: flex;
    flex-direction: column;

}
.custom-div{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-btn{
    width:215px;
    margin: 10px;
}
.meme-img{
    max-width:445px;
    max-height: 380px;
    object-fit: cover;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.603);
}
.meme-div{
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.text{
    position: absolute;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 8vmin;
    padding: 0 5px;
    margin:5px;
    text-transform: uppercase;
    color: rgb(245, 245, 245);
    text-shadow: 0 3px 10px black;
}
.bottom-text{
    bottom:0;
}




@media screen and (max-width:480px){
    .meme-img{
        max-width:350px;
        max-height: 400px;
    }
    input{
        width: 155px;
        font-size:16px;
    }
    button{
        background-color: rgb(193, 157, 225);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height:40px;
        font-size: 16px;
        width: 350px;
        transition:.3s;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.21);
    }
    .custom-btn{
        width:170px;
        margin: 6px;
    }
    .nav-img{
        width:20%;
    }
    h2, h3{
        font-size: 16px;
    }
    .meme-div{
        padding-top: 30px;
    }
   
}
@media screen and (max-width:375px){
    .meme-img{
        max-width:280px;
        max-height:330px;
    }
    input{
        width: 40%;
        font-size:16px;
    }
    button{
        background-color: rgb(193, 157, 225);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height:40px;
        font-size: 16px;
        width: 90%;
        transition:.3s;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.21);
    }
    .custom-btn{
        width:43%;
        margin: 6px;
    }
    .nav-img{
        width:20%;
    }
    h2, h3{
        font-size: 16px;
    }
    .meme-div{
        padding-top: 30px;
    }
}
@media screen and (max-width: 310px) {
    h2, h3{
        font-size: 14px;
    }
    .nav-div-two{
        border-left: 1px solid rgba(128, 128, 128, 0.329);
    }
}
